<footer class="mw7 center w-100 sans-serif dark-gray pt6 pb4 pa3">
  <h2 class="dn-m dn-l f5 lh-title mv1">{{ site.data.theme.text.menu_title }}<h2>
    <nav class="flex flex-column flex-row-m flex-row-l">
      {% if site.data.theme.navigation %}
      {% for link in site.data.theme.navigation %}
        {% if link.url contains 'http' %}
          {% assign domain = '' %}
        {% elsif link.url contains 'mailto' %}
          {% assign domain = '' %}
        {% else %}
          {% assign domain = site.url | append: site.baseurl %}
        {% endif %}
        <a href="{{ domain }}{{ link.url }}" class="f5 f6-m f6-l fw4 gray link mr3 pb3 ttc ttu-m ttu-l" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a>
      {% endfor %}
      {% endif %}
    </nav>
  </footer>