<form name="contact" method="POST" netlify>
  <p>
    <label>Your Name:</label><br>
    <input type="text" name="name" class="w-100 w-50-l pa2 ba bw1 br2" />  
  </p>
  <p>
    <label>Your Email:</label><br>
    <input type="email" name="email" class="w-100 w-50-l pa2 ba bw1 br2" />
  </p>
  <p>
    <label>Message:</label><br>
    <textarea name="message" class="w-100 h5 pa2 ba bw1 br2"></textarea>
  </p>
  <div data-netlify-recaptcha></div>
  <p>
    <button class="white bg-green pv2 ph4 ba bw1 br2 b--dark-green" type="submit">Send</button>
  </p>
</form>