---
layout: default
---

<main class="f5 f4-m f4-l fw3 lh-copy mw7 center w-100 sans-serif dark-gray pa3">
  <header class="mv6 measure-wide">
  {% if page.introduction %}
    {{ page.introduction | markdownify }}
  {% endif %}
  </header>

  <h2 class="f5 lh-title mb1">{{ site.data.theme.text.post_heading }}</h2>
  {% for post in site.posts limit: site.data.theme.text.post_limit %}
  <a class="link dark-gray" href="{{ post.url | relative_url }}">
    <article class="pv1">
      <p class="f5 f4-m f4-l fw4 lh-title mb0 underline">{{ post.title | escape }}</p>
    </article>
  </a>
  {% endfor %}

  <h2 class="f5 lh-title mb1 mt6">{{ site.data.theme.text.archive_heading }}</h2>
  <a class="link dark-gray" href="{{ site.data.theme.text.archive_url | relative_url }}">
    <p class="f5 f4-m f4-l fw4 lh-title pv1 mb0 underline">{{ site.data.theme.text.archive_title }}</p>
  </a>
</main>